In [ ]:
# Name:- Majithiya Jal
# Enrollment NO.:- 216270307082
# Write a Pandas program to implement following operation
# to create a dataframe from a dictionary and display it

import numpy as np
import pandas as pd
a = {'Name' : ['Jal', 'Dhruvi', 'Kinjal', 'Bagthariya'],'Enrollment' : [82, 90, 91, 80]}
b = pd.DataFrame(a)
print(b)

In [ ]:
# Name:- Majithiya Jal
# Enrollment NO.:- 216270307082
# Write a Pandas program to implement following operation
# to sort the DataFrame first by 'name' in ascending order

import numpy as np
import pandas as pd
a = {'Name' : ['Jal', 'Dhruvi', 'Kinjal', 'Bagthariya'],'Enrollment' : [82, 90, 91, 80]}
df = pd.DataFrame(a)
b = df.sort_values(by=['Name'], ascending=True)
print(b)

In [ ]:
# Name:- Majithiya Jal
# Enrollment NO.:- 216270307082
# Write a Pandas program to implement following operation
# to delete the one specific column from the DataFrame

import numpy as np
import pandas as pd
a = {'Name' : ['Jal', 'Dhruvi', 'Kinjal', 'Bagthariya'],'Enrollment' : [82, 90, 91, 80]}
del a['Enrollment']
print(a)

In [ ]:
# Name:- Majithiya Jal
# Enrollment NO.:- 216270307082
# Write a Pandas program to implement following operation
# to write a DataFrame to CSV file using tab separator
import pandas as pd
import numpy as np
students = {'Student': ['Jal', 'Dhruvi','Kinjal', 'Bagthariya'],'Enrollment': [82, 90, 91, 80]}
df = pd.DataFrame(students,columns =['Student', 'Enrollment'])
# displaying the original DataFrame
print("Original DataFrame")
print(df)
df.to_csv('Students.csv', sep =' ')
new_df = pd.read_csv('Students.csv')
print('Data from Students.csv:')
print(new_df)